<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <title>Home page</title>
</head>
<body>
<div id="content">
    <h1>Admin DashBoard</h1>
    <div class="w-full max-w-5xl py-12 mx-auto">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4 justify-items-center">
            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/loadAddProduct" class="leading-relaxed dark:text-gray-400 text-3xl">Add Product</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/category" class="leading-relaxed dark:text-gray-400 text-3xl">Add Category</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/productSize" class="leading-relaxed dark:text-gray-400 text-3xl">Add ProductSize</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/ingredients" class="leading-relaxed dark:text-gray-400 text-3xl">Add Ingredient</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/toppings" class="leading-relaxed dark:text-gray-400 text-3xl">Add Toppings</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/products" class="leading-relaxed dark:text-gray-400 text-3xl">View Product</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/users" class="leading-relaxed dark:text-gray-400 text-3xl">Users</a>
            </div>
            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/add-admin" class="leading-relaxed dark:text-gray-400 text-3xl">Add Admin</a>
            </div>


            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/admins" class="leading-relaxed dark:text-gray-400 text-3xl">View All Admin</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <a href="/admin/orders" class="leading-relaxed dark:text-gray-400 text-3xl">Orders</a>
            </div>

            <div class="flex flex-col w-full gap-2 p-4 text-center bg-white border-2 border-gray-600 rounded-lg shadow-lg dark:bg-gray-800">
                <i class="fa-3x fa-solid fa-plus"></i>
                <p class="leading-relaxed dark:text-gray-400 text-3xl">Sales</p>
            </div>


        </div>
    </div>
</div>
<script>
    console.log("about page");
</script>
</body>
</html>