
<nav th:fragment="navbar" class="custom-bg border-gray-200 dark:bg-gray-900 w-full">
    <div class="max-w-screen-2xl flex flex-wrap items-center justify-between  p-3 px-16 w-full">
        <a href="#" class="flex items-center space-x-2 rtl:space-x-reverse">
            <div class="pt-0 ml-8">
                <img th:src="@{/img/image.png}" class="h-auto w-32 me-3" alt="swaadisht">
            </div>
            <!--                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SWAADISHT</span>-->
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">



            <th:block th:if="${user==null}">
                <a href="/signin" type="button" class="text-white space-x-2 mr-2 custom-color font-medium rounded-lg text-sm px-4 py-2 text-center">LogIn</a>
                <a href="/register"  type="button" class="text-white custom-color font-medium rounded-lg text-sm px-4 py-2 text-center">SignUp</a>
            </th:block>
            <th:block th:if="${user!=null}">

                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white custom-color font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">[[${user.name}]] <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <th:block>
<!--                            <li th:if="${user.role=='ROLE_ADMIN'}">-->
<!--                                <a href="/user/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>-->
<!--                            </li>-->
                            <li th:if="${user.role=='ROLE_USER'}">
                                <a href="/user/profile" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
                            </li>
                        </th:block>
                        <li th:if="${user.role=='ROLE_ADMIN'}">
                            <a href="/admin/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">DashBoard</a>
                        </li>
                        <li th:if="${user.role=='ROLE_USER'}">
                            <a href="/user/cart" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Cart</a>
                        </li>
                        <li th:if="${user.role=='ROLE_USER'}">
                            <a href="/user/my-orders" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Orders</a>
                        </li>
                        <li>
                            <a href="/logout" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                        </li>
                    </ul>
                </div>

<!--                <a href="#" type="button" class="text-white space-x-2 mr-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">[[${user.name}]]</a>-->
<!--                <a href="#"  type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Profile</a>-->
            </th:block>
            <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
                <li>
                    <a href="/" class="block py-2 px-3 md:p-0 text-lg text-[#650c04] rounded-lg hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] transition-colors duration-300 text-primary" aria-current="page">Home</a>
                </li>
<!--                <th:block th:if="${user!=null}">-->
<!--                    <li th:if="${user.role=='ROLE_ADMIN'}">-->
<!--                        <a href="/admin/" class="block py-2 px-3 md:p-0 text-lg text-[#650c04] rounded-lg hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] transition-colors duration-300 text-primary">Dashboard</a>-->
<!--                    </li>-->
<!--                </th:block>-->
                <li>
                    <a href="#" class="block py-2 px-3 md:p-0 text-lg text-[#650c04] rounded-lg hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] transition-colors duration-300 text-primary">About</a>
                </li>
                <li>
                    <a href="/products" class="block py-2 px-3 md:p-0 text-lg text-[#650c04] rounded-lg hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] transition-colors duration-300 text-primary">Products</a>
                </li>
                <li>
                    <a href="#" class="block py-2 px-3 md:p-0 text-lg text-[#650c04] rounded-lg hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] transition-colors duration-300 text-primary">Contact</a>
                </li>
            </ul>
        </div>
<!--        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">-->
<!--            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">-->
<!--                <li>-->
<!--                    <a href="/" class="block py-2 px-3 md:p-0 text-white bg-[#650c04] rounded hover:bg-[#8a1007] md:bg-transparent md:text-[#650c04] md:hover:text-[#8a1007] md:dark:text-[#650c04]" aria-current="page">Home</a>-->
<!--                </li>-->
<!--                <th:block th:if="${user!=null}">-->
<!--                    <li th:if="${user.role=='ROLE_ADMIN'}">-->
<!--                        <a href="/admin/" class="block py-2 px-3 md:p-0 text-white text-md bg-[#650c04] rounded hover:bg-[#8a1007] md:bg-transparent md:text-[#650c04] md:hover:text-[#8a1007] md:dark:text-[#650c04]">Dashboard</a>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--                <li>-->
<!--                    <a href="#" class="block py-2 px-3 md:p-0 text-[#650c04] rounded hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] dark:text-white">About</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/products" class="block py-2 px-3 md:p-0 text-[#650c04] rounded hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] dark:text-white">Products</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#" class="block py-2 px-3 md:p-0 text-[#650c04] rounded hover:bg-[#f3e8e8] md:hover:bg-transparent md:hover:text-[#8a1007] dark:text-white">Contact</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</nav>




