<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Form</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<div th:replace="~{navbar :: navbar}"></div>


<div class="container">

    <!--Login form-->

    <div class="form-box login" id="loginForm">
        <form th:action="@{/login}" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input type="email" placeholder="Email" required>
                <i class='bx bxs-envelope' ></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <div class="forgot-link">
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <p>or login with social platforms</p>
            <div class="social-icons">
                <a href="#"><i class='bx bxl-google' ></i></a>
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-github' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>
        </form>
    </div>

<!--    Registration form-->

    <div class="form-box register" id="registerForm">
        <form
                data-th-action="@{'/do-register'}"
                method="post"
                data-th-object="${userForm}"
        >
            <h1>Registration</h1>
            <div class="input-box">
                <input
                        type="text"
                        name="name"
                        th:field="*{name}"
                        placeholder="Username"
                        required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="email" id="email" th:field="*{email}" placeholder="email" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="text" id="phone" th:field="*{phoneNumber}" placeholder="phoneNumber" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" id="password" th:field="*{password}" placeholder="password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="input-box">
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="confirm password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <button type="submit" class="btn">Register</button>
            <p>or register with social platforms</p>
            <div class="social-icons">
                <a href="#"><i class='bx bxl-google' ></i></a>
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-github' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>
        </form>
    </div>

<!--    toggle box-->

    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <h1>Hello, Welcome!</h1>
            <p>Don't have an account?</p>
            <button class="btn register-btn">Register</button>
        </div>

        <div class="toggle-panel toggle-right">
            <h1>Welcome Back!</h1>
            <p>Already have an account?</p>
            <button class="btn login-btn">Login</button>
        </div>
    </div>
</div>


<div th:replace="~{footer :: footer}"></div>

<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--    const container = document.getElementById('authContainer');-->
<!--    const loginForm = document.getElementById('loginForm');-->
<!--    const registerForm = document.getElementById('registerForm');-->

<!--    // Show container after initialization-->
<!--    container.classList.add('active');-->

<!--    // Check URL to determine which form to show-->
<!--    if (window.location.pathname === '/register') {-->
<!--    loginForm.style.display = 'none';-->
<!--    registerForm.style.display = 'block';-->
<!--    } else {-->
<!--    loginForm.style.display = 'block';-->
<!--    registerForm.style.display = 'none';-->
<!--    }-->
<!--    });-->

<!--    function showRegister() {-->
<!--    window.location.href = "/register";-->
<!--    }-->

<!--    function showLogin() {-->
<!--    window.location.href = "/login";-->
<!--    }-->
<!--</script>-->

<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--<script th:src="@{/js/script.js}"></script>-->
</body>
</html>